ul.card-list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
}

.card-list .card .photo-thumbnail{
	width: 128px;
	height: 128px;
}

.card-list .card .is-danger,
.card-list .card .is-warning,
.card-list .card .is-success{
	display: none;
}

.card-list .card .border-left {
	border-color: rgba(0,0,0,.125) !important;
}


.card-danger {
	background-color: #f5c6cb;
}
.card-danger:focus,
.card-danger:hover {
	background-color: #f1b0b7;
}
[data-theme="dark"] .card-danger {
	background-color: #602228;
}
[data-theme="dark"] .card-danger:focus,
[data-theme="dark"] .card-danger:hover {
	background-color: #68292f;
}

.card-list .card.card-danger .is-danger{
	display: initial;
}


.card-warning {
	background-color: #ffeeba;
}
.card-warning:focus,
.card-warning:hover {
	background-color: #ffe8a1;
}
[data-theme="dark"] .card-warning {
	background-color: #695415;
}
[data-theme="dark"] .card-warning:focus,
[data-theme="dark"] .card-warning:hover {
	background-color: #755e18;
}

.card-list .card.card-warning .is-warning{
	display: initial;
}


.card-success {
	background-color: #c3e6cb;
}
.card-success:focus,
.card-success:hover {
	background-color: #b1dfbb;
}
[data-theme="dark"] .card-success {
	background-color: #21482a;
}
[data-theme="dark"] .card-success:focus,
[data-theme="dark"] .card-success:hover {
	background-color: #24542f;
}

.card-list .card.card-success .is-success{
	display: initial;
}