.custom-switch{
	padding-left: 2.8125rem;
}

.custom-switch .custom-control-label::before {
	left:-2.8125rem;
	width: 2.1875rem;
	border-radius: 0.625rem;
	height: 1.25rem;
}

.custom-switch .custom-control-label::after{
	left: calc(-2.8125rem + 2px);
	width: calc(1.25rem - 4px);
	height: calc(1.25rem - 4px);
	border-radius: 0.625rem;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
	background-color: #fff;
	-webkit-transform: translateX(.625rem);
	transform: translateX(0.9375rem);
}