{# profile.html.twig #}
{# base profile page. Uses bootstrap icons and include other twig content #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% for css in ['profil/base', 'album/album'] %}
        {% include 'includes/stylesheet.html.twig' with {'file': css} only %}
    {% endfor %}
    {% include 'includes/stylesheet.html.twig' with {'file': 'photo/photo'} only %}
{% endblock %}
{% block javascripts %}
    <script>
        const profilPseudo = {{ profileUser.pseudo|json_encode|raw }};
        let currentPage = {{ page }}

        const photoToLoad = {{ displayedPhoto??'null' }}; /*loadPhotoDetail({{ displayedPhoto }});*/
    </script>

    {{ parent() }}

    {% for js in ['profil/base', 'photo/photo', 'album/album'] %}
        {% include 'includes/script.html.twig' with {'file': js} only %}
    {% endfor %}


{% endblock %}

{% block title %}
    Profil de {{ profileUser.pseudo|e }}{% if page > 1 %} | page {{ page }}{% endif %}
{% endblock %}

{% block body %}

    <main class="container">
        <div id="profil" class="row mb-4">
            <div class="col-12 col-sm-auto offset-md-1 offset-lg-2 d-flex justify-content-center ">
                <div class="profile-picture  rounded-circle border border-dark overflow-hidden">
                    <img class="img-fit-cover" src="{{ asset('content/img/pp/' ~ (profileUser.photo??'nopp.png')|e('url') ) }}" alt="Photo de profil">
                </div>
            </div>
            <div class="col-12 col-sm-auto d-flex flex-column justify-content-center align-items-center align-items-sm-start">
                <div>
                    <div class="d-flex align-items-center position-relative">
                        <h2 class="mr-3">
                            @{{ profileUser.pseudo|e }}
                        </h2>
                        {% block boutonsAmis %}
                            {% if app.user %} {# affichage seulement si connecté #}
                                <div id="btn-profil-container">
                                    <button id="btn-ami-add"
                                            class="btn btn-outline-primary rounded-circle btn-icon left-1 {{ btnAmi == 'add' ? '' : 'd-none' }}"
                                            data-toggle="tooltip" data-placement="right" title="Demander en ami">
                                        <i class="fas fa-user-plus"></i>
                                    </button>
                                    <button id="btn-ami-cancel"
                                            class="btn btn-outline-primary rounded-circle btn-icon left-1 {{ btnAmi == 'cancel' ? '' : 'd-none' }}"
                                            data-toggle="tooltip" data-placement="right" title="Annuler la demande">
                                        <i class="fas fa-user-clock"></i>
                                    </button>
                                    <div class="btn-group {{ btnAmi == 'answer' ? '' : 'd-none' }}"
                                         role="group" aria-label="Répondre à la demande">
                                        <button id="btn-ami-accept" class="btn btn-outline-primary rounded-circle btn-icon left-1"
                                                data-toggle="tooltip" data-placement="right" title="Accepter">
                                            <i class="fas fa-user-check"></i>
                                        </button>
                                        <button id="btn-ami-deny" class="btn btn-outline-primary rounded-circle btn-icon left-1"
                                                data-toggle="tooltip" data-placement="right" title="Refuser">
                                            <i class="fas fa-user-times"></i>
                                        </button>
                                    </div>
                                    <button id="btn-ami-remove"
                                            class="btn btn-outline-success rounded-circle btn-icon left-1 {{ btnAmi == 'remove' ? '' : 'd-none' }}"
                                            data-toggle="tooltip" data-placement="right" title="Retirer de mes amis">
                                        <i class="fas fa-user-check"></i>
                                    </button>

                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                    {% if profileUser.prenom or profileUser.nom %}
                        <h5>{{ profileUser.prenom|e }} {{ profileUser.nom|e }}</h5>
                    {% endif %}
                </div>
            </div>

        </div>

        <div id="profileContentContainer" class="mt-5">
            {% if profileUser.ami(app.user) or profileUser.public %}
                {# tabs #}
                <ul id="nav-tabs" class="nav nav-tabs justify-content-center mt-2" role="tablist">
                    <li class="nav-item col-4 text-center" role="presentation">
                        <a id="photo-tab" class="nav-link active" href="#photo-container" data-toggle="tab" role="tab" aria-controls="photo" aria-selected="true">
                            {# grid icon #}
                            <i class="fas fa-th"></i>
                        </a>
                    </li>
                    <li class="nav-item col-4 text-center" role="presentation">
                        <a id="album-tab" class="nav-link" href="#album-container" data-toggle="tab" role="tab" aria-controls="album" aria-selected="false" data-url="{{ path('album.grid.get', {pseudo: profileUser.pseudo, page: page}) }}">
                            {# album icon #}
                            <i class="fas fa-book-open"></i>
                        </a>
                    </li>
                </ul>

                <div class="tab-content mt-3" id="myTabContent">

                    {# photo container #}
                    <div id="photo-container" class="container tab-pane fade show active" role="tabpanel" aria-labelledby="photo-tab">
                        {# parameter menu: sort, filter, add (if current user = profile user) #}
                        <div id="parameter-menu-container" class="row justify-content-end align-items-center mb-3">
                            {% block boutonAjoutPhoto %}{% endblock %}

                            {# sort and filter #}
                            <div class="col-auto">
                                <a id="sort-photo-btn" class="p-2" href="#">
                                    {# sort #}
                                    {% if order == 'ASC' %}
                                        <i class="fas fa-sort-amount-down" data-order="DESC"></i>
                                    {% else %}
                                        <i class="fas fa-sort-amount-up" data-order="ASC"></i>
                                    {% endif %}
                                </a>
                            </div>

                            <div class="col-auto">
                                <div id="filterMenu" class="dropdown dropleft">
                                    {# filter #}
                                    <a id="filter-photo-dropdown" class="p-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-filter"></i>
                                    </a>

                                    {# filter choice list of checkbox #}
                                    {{ form_start(filterForm, {'method': 'GET'}) }}
                                        <div class="dropdown-menu text-secondary" aria-labelledby="filter-photo-dropdown">
                                            <a class="dropdown-item" data-filter="album" data-toggle="collapse" href="#collapseAlbums" role="button" aria-expanded="false" aria-controls="collapseAlbums">par album</a>
                                            <div class="collapse p-3" id="collapseAlbums">
                                                        {{ form_row(filterForm.albums) }}
                                            </div>

                                            <a class="dropdown-item" data-filter="tag" data-toggle="collapse" href="#collapseTags" role="button" aria-expanded="false" aria-controls="collapseTags">par tag</a>
                                            <div class="collapse p-3" id="collapseTags">
                                                    {{ form_row(filterForm.tags) }}
                                            </div>

                                            <a class="dropdown-item" data-filter="date" data-toggle="collapse" href="#collapseDate" role="button" aria-expanded="false" aria-controls="collapseDate">par date</a>
                                            <div class="collapse p-3" id="collapseDate">
                                                <div class="form-row">
                                                    <div class="col-auto">
                                                        {{ form_row(filterForm.date_debut) }}
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-auto">
                                                        {{ form_row(filterForm.date_fin) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row  d-flex justify-content-center align-items-center mx-0 mt-3">
                                                <div class="col-auto">
                                                    {{ form_row(filterForm.appliquer, {'attr': {'class':'btn btn-primary btn-sm'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    {{ form_end(filterForm) }}
                                </div>
                            </div>
                        </div>

                        {# photo list #}
                        <div id="photo-list-container" class="position-relative">
                            <div id="photo-row" class="row justify-content-center">
                                {% if filtreTest is defined %}

                                {% endif %}

                                {% if photos is empty %}
                                    {% block noPhoto %}
                                        <div class="col-6 no-img-container text-center">
                                            <figure class="figure my-5">
                                                <img src="{{ asset('content/img/common/no-img.png') }}" class="figure-img img-fluid" alt="no-img">
                                                <figcaption class="figure-caption">
                                                    <h3>Aucune photo pour le moment 😕</h3>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    {% endblock %}
                                {% else %}
                                    {% include 'profile/includes/grid.photo.html.twig' %}
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    {# album container #}
                    <div id="album-container" class="container tab-pane fade" role="tabpanel" aria-labelledby="album-tab">
                    </div>
                </div>
            {% else %}
                {% if app.user %}
                    {% include 'profile/includes/not-friend.photo.html.twig' %}
                {% else %}
                    {% include 'profile/includes/not-connected.photo.html.twig' %}
                {% endif %}
            {% endif %}
        </div>
    </main>

    <div id="modalsContainer">
        {% block modals %}
            {# photo modal #}
            <div id="modalShowPhoto" class="modal fade modal_photo" tabindex="-1" aria-labelledby="modalShowPhoto" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content mb-5 main-modal">
                        <div class="modal-body p-0">
                            <div id="photoDetailContainer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}