{% extends 'profile/base.profile.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{#    {{ dump(path('profile_edit_photo_get', {pseudo: profileUser.pseudo|e('url') } )) }}#}
    {% include 'includes/script.html.twig' with {'file': 'photo/owner-page'} only %}
{% endblock %}

{% block boutonsAmis %}{% endblock %}

{% block boutonAjoutPhoto %}
    <div class="col-auto mr-auto">
        <a class="text-center btn btn-outline-primary" type="button" data-toggle="modal" data-target="#modalAddPhotoForm">
            <div class="d-inline-flex align-items-center">
                {# add #}
                <i class="fas fa-plus mr-1"></i> Ajouter une photo
            </div>
        </a>
    </div>
{% endblock %}

{% block noPhoto %}
    <div class="col-12 d-flex flex-column justify-content-center text-center">
        <h3 class=display-3">Il y a une première fois à tout !</h3>
        <p>
            Il semblerait que vous n'avez pas encore ajouter de photo ...<br>
            Lancez-vous donc !<br>
            👇
        </p>
    </div>
    <div id="add-tile-button" class="col-auto mx-auto" data-toggle="modal" data-target="#modalAddPhotoForm">
        <div class="add-tile border-secondary text-center text-secondary d-flex justify-content-center align-items-center">
            <span><i class="fas fa-plus d-block"></i></span>
            <span>ajouter<br>une<br>image !</span>
        </div>
    </div>
{% endblock %}


{% block noAlbum %}
    <div class="col-12 d-flex flex-column justify-content-center text-center">
        <h3 class=display-3">Il y a une première fois à tout !</h3>
        <p>
            Il semblerait que vous n'avez aucun album ... <br>
            Créez le premier !<br>
            👇
        </p>
    </div>
    <div id="add-album-button" class="col-auto mx-auto" data-toggle="modal" data-target="#modalAddAlbumForm">
        <div class="add-tile border-secondary text-center text-secondary d-flex justify-content-center align-items-center">
            <span><i class="fas fa-plus d-block"></i></span>
            <span>ajouter<br>un<br>album !</span>
        </div>
    </div>
{% endblock %}

{#{% block notFriend %}#}
{#    {% include 'profile/includes/grid.photo.html.twig' %}#}
{#{% endblock %}#}

{% block modals %}
    {{ parent() }}

    {# modal d'ajout d'une photo #}
    <div id="modalAddPhotoForm" class="modal fade" data-backdrop="static" data-keyboard="false"
         tabindex="-1" aria-labelledby="modalAddPhotoFormLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div id="modalAddPhotoFormContent" class="modal-content">
                <div class="modal-header">
                    <h3 class="m-0">
                        Ajouter une photo
                    </h3>
                </div>
                <div id="photoAddFormContainer">
                    {% include 'profile/modals/form.add.photo.html.twig' with {'form': form} %}
                </div>
            </div>
        </div>
    </div>

    {# edit photo modal form #}
    <div id="modalEditPhotoForm" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false"
         aria-labelledby="modalEditPhotoFormLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div id="modalEditPhotoFormContent" class="modal-content">
                <div class="modal-header">
                    <h3 class="m-0">
                        Modifier la photo
                    </h3>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="photoEditContainer">

                </div>
            </div>
        </div>
    </div>

    {# modal de suppression de photo #}
{#    <div class="modal fade" id="modalDeletePhotoConfirmation" data-backdrop="static" data-keyboard="false"#}
{#         tabindex="-1" aria-labelledby="modalDeletePhotoConfirmationLabel" aria-hidden="true">#}
{#        <div class="modal-dialog modal-dialog-centered">#}
{#            <div id="modalDeletePhotoConfirmationContent" class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="modalDeletePhotoConfirmationLabel">#}
{#                        Supprimer la photo#}
{#                    </h5>#}
{#                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <span>Êtes-vous sûr de vouloir supprimer cette photo ?</span>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button id="cancelDelete" type="button" class="btn btn-secondary" data-dismiss="modal">#}
{#                        Non, en fait je la veux garder#}
{#                    </button>#}
{#                    <button id="confirmDeletePhoto" type="button" class="btn btn-danger">#}
{#                        Oui, je n'en veux plus !#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    {# modal ajout d'une photo à un album #}
    <div id="modalEditAlbumPhoto" class="modal fade" tabindex="-1" aria-labelledby="modalAddAlbumPhotoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div id="modalEditAlbumPhotoContent" class="modal-content">

            </div>
        </div>
    </div>

    {# modal ajout d'album #}
    <div id="modalAddAlbumForm" class="modal fade" tabindex="-1" aria-labelledby="modalAddAlbumFormLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div id="modalAddAlbumFormContent" class="modal-content">

            </div>
        </div>
    </div>

    {# modal edition d'album #}
    <div id="modalEditAlbumForm" class="modal fade" tabindex="-1" aria-labelledby="modalEditAlbumFormLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div id="modalEditAlbumFormContent" class="modal-content">

            </div>
        </div>
    </div>

    {# confirmation de suppression d'album #}
    <div id="modalDeleteAlbumForm" class="modal fade" tabindex="-1" aria-labelledby="modalDeleteAlbumFormLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div id="modalDeleteAlbumFormContent" class="modal-content">
                <form id="album-delete-form" method="POST">
                    <div class="modal-header">
                        <h3 class="m-0">{% block modal_title %}Supprimer un album{% endblock %}</h3>
                    </div>
                    <div class="modal-body mx-3">
                        Êtes-vous sûr de vouloir supprimer cet album ? (les photos seront conservées)
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" value="valider">Oui</button>
                        <button class="btn btn-secondary" type="button" value="annuler" data-dismiss="modal">... Non</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# affichage de photo dans un album #}
    <div id="modalShowAlbumPhoto" class="modal fade modal_photo" tabindex="-1" aria-labelledby="modalShowAlbumPhoto" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content mb-5 main-modal">
                <div class="modal-body p-0">
                    <div id="AlbumPhotoDetailContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# edition d'une photo dans un album #}
    <div id="modalEditAlbumPhoto" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false"
         aria-labelledby="modalEditPhotoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div id="modalEditPhotoFormContent" class="modal-content">
                <div class="modal-header">
                    <h3 class="m-0">
                        Modifier la photo
                    </h3>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>
                    <div id="AlbumPhotoEditContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# partage de photo #}
{% endblock %}