.card .photo-thumbnail {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 7.75rem;
}

.card button.small{
	font-size: 80% !important;
}

.mb-075 {
	margin-bottom: 0.75rem;
}

@media only screen and (max-width: 575px) {
	.card .photo-thumbnail {
		height: auto;
		padding-bottom: 75%;
	}
}