.card .profile-picture{
	height: 96px;
	width: 96px;
}

.rounded-pill-left {
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
}

main .card .card-title {
	font-size: 1.125rem;
}

main .card .card-subtitle  {
	line-height: 1.35;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}