{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class=" col-12 mx-auto col-md-9 col-lg-7 col-xl-6">
                {{ form_start(form, {'attr': {'class': 'card'}}) }}
{#                <div class="card">#}
                    <h2 class="card-header">Inscription</h2>
                    <div class="card-body">
{#                        {{ form(form) }}#}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword) }}
                        {{ form_row(form.pseudo) }}
                        <div class="form-row">
                            <div class="col-12 col-sm-6">
                                {{ form_row(form.nom) }}
                            </div>
                            <div class="col-12 col-sm-6">
                                {{ form_row(form.prenom) }}
                            </div>
                        </div>
                        {{ form_row(form.date_naissance) }}
                        {{ form_row(form.photoFile) }}
                        {{ form_row(form.public) }}
                    </div>
                    <div class="card-footer">
                        {{ form_widget(form.submit) }}
                    </div>
{#                </div>#}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% for css in ['security/switch'] %}
        {% include 'includes/stylesheet.html.twig' with {'file': css} only %}
    {% endfor %}
{% endblock %}