{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main class="container">

        {% include 'includes/flash.html.twig' with {'category': ['success','danger','warning','info']} only %}

        <div class="row">
            <div class=" col-12 mx-auto col-md-9 col-lg-7 col-xl-6">
                <form method="post" class="card">
                    <h2 class="card-header">
                        Connexion
                    </h2>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {% if app.user %}
                            <h4 class="mb-3 text-center">
                                Vous êtes déjà connecté en tant que <strong>@{{ app.user.pseudo|escape('html') }}</strong>
                            </h4>
                            <hr class="mb-4">
                        {% endif %}

                        <div class="form-group form-row">
                            <label for="inputEmail" class="required">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="form-group form-row">
                            <label for="inputPassword" class="required">Mot de passe</label>
                            <div class="input-group">
                                <input type="password" name="password" id="inputPassword" class="form-control" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="see-password">
                                        <i class="far fa-eye" style="font-size: 1.125rem;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-row mb-0">
                            <a href="{{ url('app_forgot_password_request') }}">
                                Mot de passe oublié ? 🤔
                            </a>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">
                            Se connecter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
        	$('#see-password').on('mousedown',function(){
        		$('#inputPassword').attr('type','text');
            }).on('mouseup mouseleave',function(){
		        $('#inputPassword').attr('type','password');
	        })
        })
    </script>
{% endblock %}
