{% extends 'base.html.twig' %}

{% block title %}Ouais!-b{% endblock %}

{% block body %}

    <h1 class="text-center mb-5">Bienvenue sur <em>Ouais!-b</em> !</h1>

    <h4 class="text-center mb-4">Utilisez la barre de recherche pour chercher des profils 👆</h4>

    {% if app.user %}
        <h4 class="text-center">
            Pour accéder à votre profil, c'est par ici 👉
            <a href="{{ url('profile', {pseudo: app.user.pseudo|e('url')}) }}">@{{ app.user.pseudo|e }}</a>
        </h4>
    {% else %}
        <h4 class="text-center">
            Pas encore membre ? <a href="{{ url('inscription') }}">Inscrivez-vous</a> 👌 !
        </h4>
    {% endif %}

{% endblock %}
