{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-12 mx-auto col-md-9 col-lg-7 col-xl-6">
                <div class="card">
                    <h2 class="card-header">Email envoyé 📧</h2>
                    <div class="card-body">
                        <p>
                            Un email contenant un lien de réinitialisation de mot de passe vous a été envoyé.
                            Ce lien expire dans {{ tokenLifetime|date('g') }} heure(s).
                        </p>
                        <p class="mb-0">
                            Si vous n'avez pas reçu cet email, vérifiez vos spams ou <a href="{{ path('app_forgot_password_request') }}">recommencez</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
