<h1>Bonjour !</h1>

<p>Pour réinitialiser votre mot de passe, cliquez sur le lien suivant, ou copiez le dans la barre d'adresse de votre navigateur.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>

<p>À très vite !</p>
