{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <main class="container">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <div class="row">
            <div class=" col-12 mx-auto col-md-9 col-lg-7 col-xl-6">
                {{ form_start(requestForm) }}
                    <div class="card">
                        <h2 class="card-header">
                            Réinitialisation du mot de passe
                        </h2>
                        <div class="card-body">
                            {{ form_row(requestForm.email) }}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>
                    </div>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </main>
{% endblock %}