{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class=" col-12 mx-auto col-md-9 col-lg-7 col-xl-6">
                {{ form_start(resetForm) }}
                    <div class="card">
                        <h2 class="card-header">
                            Réinitialisation du mot de passe
                        </h2>
                        <div class="card-body">
                            {{ form_row(resetForm.plainPassword) }}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">Confirmer</button>
                        </div>
                    </div>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </main>
{% endblock %}
