{{ form_start(form) }}
    <div class="modal-body">
        {{ form_row(form.titre) }}

        {% block fileInput %}
            {{ form_row(form.fichierInput) }}
        {% endblock %}

        {{ form_row(form.description) }}
        {{ form_row(form.album) }}

        {# tags #}
        <div class="form-group tag-group mb-0" data-prototype="{{ _self.printTagRow(form.tags.vars.prototype)|e('html_attr') }}"  data-widget-counter="{{ form.tags|length }}">
            {{ form_label(form.tags) }}
            {{ form_errors(form.tags) }}
            <div class="add-tag-container input-group mb-1">
                <input type="text" class="tag-value form-control" placeholder="Type a tag here ..." aria-label="tags" aria-describedby="add-tag-btn">
                <div class="input-group-append">
                    <button class="add-tag-btn btn btn-secondary" type="button" data-collection-holder-class="tags">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="tags-container form-group mb-0">
                {% for tag in form.tags %}
                    {{ _self.printTagRow(tag) }}
                {% endfor %}
            </div>
        </div>
    </div>

    {#  footer #}
    <div class="modal-footer">
        <button id="cancelDelete" type="button" class="btn btn-secondary" data-dismiss="modal">
            Annuler
        </button>
        {{ form_row(form.submit) }}
        {{ form_row(form._token) }}
    </div>
{{ form_end(form, {'render_rest': false}) }}

{% macro printTagRow(tag) %}
    <div class="badge badge-pill badge-secondary border-0 mx-1 tag-btn">
        <i role="button" class="far fa-times-circle mr-1"></i>
        <span>{{ tag.text.vars.value }}</span>
        {{ form_widget(tag.text) }}
    </div>
{% endmacro %}