{% extends 'base.html.twig' %}
{% block header %}
    <header class="w-100 border-bottom border-darktheme sticky-top mb-5 bg-white bg-darkmode-black" style="/*background-color: inherit*//*height: 50px;*/">
        <div class="container h-100">
            <nav class="navbar navbar-expand-md navbar-{{ theme }} justify-content-between">
                <a class="navbar-brand" href="{{ url('home') }}">
                    <em>Ouais!-b</em>
                </a>
                <div class="collapse navbar-collapse flex-grow-0 mt-2 mt-md-0" id="navbarTogglerDemo02">
                    <div class="d-flex flex-row justify-content-end">
                        <button type="button" id="btn-theme" class="btn btn-outline-primary btn-icon header-btn rounded-circle mr-2">
                            <i class="far fa-lightbulb"></i>
                        </button>
                        <div id="profil-param-container" class="position-relative">
                            <button id="btn-profil-param" class="btn btn-outline-primary btn-icon header-btn rounded-circle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-offset="0,2" type="button">
                                <i class="fas fa-cog"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right position-absolute">
                                <a class="text-danger dropdown-item d-flex justify-content-between align-items-baseline" href="{{ url('app_logout') }}">
                                    <span>Me déconnecter</span>
                                    <i class="fas fa-sign-out-alt ml-2"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}

{% block body %}{% endblock %}

{#{% block footer %}{% endblock %}#}

{% block javascripts %}{% endblock %}

