<div class="reportContainer d-flex">
    <div id="photo-view-container" style="width: 500px;">
        {% include 'admin/includes/photo-view.html.twig' with {'photo':reportedPhoto.photo} %}
    </div>
    <div id="report-infos-container" class="p-3 border-left border-darktheme flex-grow-1">
        <h5>Nombre de signalements : <strong>{{ reportedPhoto.reports.count }}</strong></h5>
        <p><small>Premier signalement le {{ reportedPhoto.reports[0].dateReport|date('d/m/Y \à H:i') }}</small></p>
        <div class="d-flex flex-column">
            <button id="closeReport" class="btn btn-success w-100 mb-1">
                <i class="fas fa-check"></i> Autoriser la photo
            </button>
            <button id="deletePhoto" class="btn btn-danger w-100">
                <i class="fas fa-times"></i>
                Supprimer la photo
            </button>
{#            TODO les boutons (puis le refres full#}
        </div>
    </div>
</div>