{% extends 'admin/base.admin.html.twig' %}

{% block title %}Liste des signalements de photos{% endblock %}

{% block body %}
    <main class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Liste des signalements</h1>
            <button id="reloadList" type="button" class="btn btn-secondary">
                Mettre à jour la liste<i class="fas fa-sync-alt ml-2"></i>
            </button>
        </div>
        <div id="report-list-container">
            {% include 'admin/report.list.html.twig' %}
        </div>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-body p-0">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% for css in ['admin/reports'] %}
        {% include 'includes/stylesheet.html.twig' with {'file': css} only %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% for js in ['admin/reports'] %}
        {% include 'includes/script.html.twig' with {'file': js} only %}
    {% endfor %}
{% endblock %}
