<ul class="card-list w-100 list-unstyled">
    {% for reported in reportedPhotos %}
        <li class="card card-{{ reported.statut > 0 ? 'warning' : 'danger' }} cursor-pointer mb-3"
            data-report="{{ reported.id }}">
            <div class="card-body p-3 row w-100">
                <div class="col flex-grow-0 flex-shrink-0">
                    <div class="photo-thumbnail rounded overflow-hidden">
                        <img src="{{ asset('/content/img/photo/'~reported.photo.fichier|e('url')) }}" alt="Photo" class="img-fit-cover">
                    </div>
                </div>
                <div class="d-flex flex-column col">
                    <h4 class="lead">{{ reported.photo.titre|e }}</h4>
                    <p>De @{{ reported.photo.user.pseudo|e }}</p>
                    <p><small>Publié le {{ reported.photo.datePublication|date('d/m/Y \à H:i') }}</small></p>
                </div>
                <div class="d-flex flex-column border-left col">
                    <p>Signalée <strong class="counter">{{ reported.reports.count }}</strong> fois<small>, pour la première fois le {{ reported.reports[0].dateReport|date('d/m/Y \à H:i') }}</small></p>
                    <p class="font-italic">
                        <span class="is-danger badge badge-danger">Non traitée</span>
                        <span class="is-warning badge badge-warning">En cours de traitement</span>
                        <span class="is-success badge badge-success">Traitée</span>
                    </p>
                </div>
            </div>
        </li>
    {% else %}
        <li id="empty-list" class="list-unstyled">
            <h2 class="mt-5 font-weight-light text-center" style="opacity: 75%">Aucun signalement pour le moment</h2>
        </li>
    {% endfor %}
</ul>