{{ form_start(form) }}
    <div class="modal-header">
        <h3 class="m-0">{% block modal_title %}{{ titre_form }}{% endblock %}</h3>
    </div>
    <div class="modal-body mx-3">
        {{ form_row(form.titre) }}
    </div>

    <div class="modal-footer">
        {{ form_row(form.valider) }}
    </div>
{{ form_end(form) }}