.cursor-pointer{
	cursor: pointer !important;
}

label.required::before{
	content: '* ';
	color: var(--danger);
}

.custom-file-label::after {
	content: 'Parcourir';
}

img.img-fit-cover{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

header .header-btn {
	width: 2.375rem !important;
	height: 2.375rem !important;
}

.btn-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 2.5rem;
	width: 2.5rem;
	padding: 0.5rem;
}

.btn-icon.left-1 i {
	position: relative;
	left: 1px;
}

.btn-icon.btn-icon-auto {
	height: auto;
	width: auto;
}

#btn-notif-amis-container .btn-group button.btn:first-child{
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	padding-right: 0.33rem;
}
#btn-notif-amis-container .btn-group button.btn:last-child{
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	padding-left: 0.33rem;
}

.img-search{
	height: 32px;
	width: 32px;
	object-fit: cover;
}

[data-theme="dark"] .border-darktheme{
	border-color: #404040 !important;
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(128,128,128,0.5);
}

.modal-backdrop ~ .modal-backdrop{
	display: none !important;
}

.text-standard {
	color: #212529;
}
.text-inverted{
	color: #bebebe;
}
[data-theme="dark"] .text-standard{
	color: #bebebe;
}
[data-theme="dark"] .text-inverted{
	color: #212529;
}
.text-darktheme-light{
	color: #bebebe;
}

.minw-50{
	min-width: 50%;
}

@media only screen and (max-width: 500px) {
	header nav.navbar .navbar-brand {
		order:1;
	}
	#search-navbar-container{
		margin-top: 0.5rem;
		width: 100%;
		order: 3;
	}

	header nav.navbar .navbar-toggler{
		order: 2;
	}

	header nav.navbar .navbar-collapse{
		order: 4;
	}
}