#globalSpinner{
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	background-color: #000000c0;
	z-index: 2000;

	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#globalSpinner .spinner-grow{
	/*opacity: 1;*/
	margin: 0 0.125rem;
	animation-name: spinner-grow-2;
	animation-duration: 1.25s;
	animation-timing-function: ease-in-out;
}
#globalSpinner .spinner-grow:nth-child(2){
	animation-delay: 250ms;
}
#globalSpinner .spinner-grow:last-child{
	animation-delay: 500ms;
}
@keyframes spinner-grow-2 {
	0% {
		transform: scale(0);
	}
	40% {
		transform: none;
		opacity: 1;
	}
	80% {
		transform: scale(0);
		opacity: 0;
	}
	/*100% {*/
	/*	transform: scale(0);*/
	/*	opacity: 0;*/
	/*}*/
}