/********************/
/* grille d'albums */
/*******************/
.dropdown-toggle::after {
    display: none;
}

.col-album {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.album-container {
    padding-bottom: 100% !important;
}

.album-cover-container {
    transition: 100ms;
}

.album-cover-container:hover {
    opacity: 0.7;
}

.album {
    top: 0 !important;
}

.album-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px !important;
    border: solid lightgrey!important;
}

.album-titre {
}

#album-cover-1 {
    z-index: 3 !important;
}

#album-cover-2 {
    z-index: 2 !important;
}

#album-cover-3 {
    z-index: 1 !important;
}

/*************************/
/* Photo dans les albums */
/*************************/

.album-photo-container {
    padding-bottom: 100% !important;
}

.img-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.action-album-photo-cover {
    opacity: 0;
    transition: opacity 100ms;
    background-color: #00000060 !important;
    top: 0;
}

.album-photo-container:hover {
    cursor: pointer;
}

.album-photo-container:hover .img-cover {
    -webkit-filter: blur(0.125rem);
    filter: blur(0.125rem);
}

.album-photo-container:hover .action-album-photo-cover {
    opacity: 1;
}