<style>
	#photoDetailCard .dropdown-toggle::after {
		display: none;
	}
</style>
<div id="photoDetailCard" class="card border-0">
    <img id="photoDetailPhoto" data-photo-id="{{ photo.id }}" src="{{ asset('/content/img/photo/'~photo.fichier|e('url')) }}"
         class="card-img-top" alt="{{ photo.titre|e('html_attr') }}">
    <div class="card-body">
        {% block cardBody %}
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 id="photoDetailTitle" class="card-title mb-0">{{ photo.titre|e }}</h3>
                <div class="dropdown" style="margin-right: -0.75rem;">
                    <a class="btn text-secondary dropdown-toggle" role="button" id="dropdownPhoto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>

                    {% block threePointsMenu %}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownPhoto">
                            {% block threePointsMenuContent %}
                                {% if photo.user == app.user %}
                                    <button id="editPhoto" class="dropdown-item" data-toggle="modal" data-target="#show_tile_modal">
                                        Modifier
                                    </button>
                                    <button id="deletePhoto" class="dropdown-item">
                                        Mettre dans la corbeille
                                    </button>
                                {% endif %}
                                <button id="sharePhoto" class="dropdown-item">
                                    Partager
                                </button>
                                {% if photo.user != app.user %}
                                    <a class="dropdown-item" href="#">Signaler</a>
                                {% endif %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
            <p class="card-text">
                {{ photo.description|e }}
            </p>
            <div id="photoDetailTagContainer" class="d-flex flex-wrap">
                {% for tag in photo.tags %}
                    <a class="d-inline-block tag text-primary" href="#">
                        <span class="px-1">
                            <i class="fas fa-hashtag"></i>{{ tag.text -}}
                        </span>
                    </a>
                {% endfor %}
            </div>
            <p class="card-text">
                <small class="text-muted">Mise en ligne le {{ photo.datePublication|date('d/m/Y à h:i') }}</small>
            </p>
            {% block corbeilleInfos %}{% endblock %}
        {% endblock cardBody %}
    </div>
</div>