{% extends 'includes/photo-view.html.twig' %}

{% block threePointsMenuContent %}
    <button type="button" class="dropdown-item d-flex justify-content-between align-items-baseline restore-photo">
        Restaurer <i class="fas fa-undo-alt ml-2"></i>
    </button>
    <button type="button" class="dropdown-item text-danger d-flex justify-content-between align-items-baseline delete-photo">
        Supprimer définitivement <i class="fas fa-trash-alt ml-2"></i>
    </button>
{% endblock %}

{% block cardBody %}
    {{ parent() }}
    <p class="card-text">
        <small>
            Mise dans la corbeille le {{ photo.corbeille.dateCorbeille|date('d/m/Y') }}<br>
            <span class="text-danger">
                Sera supprimée le {{ photo.corbeille.dateSuppression|date('d/m/Y') }}
                (dans {{ photo.corbeille.tempsAvantSuppression }} jour{{ photo.corbeille.tempsAvantSuppression > 1 ? 's' :'' }})
            </span>
        </small>
    </p>
{% endblock %}