{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% for css in ['liste-amis/index'] %}
        {% include 'includes/stylesheet.html.twig' with {'file': css} only %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% for js in ['remove-animator','liste-amis/index'] %}
        {% include 'includes/script.html.twig' with {'file': js} only %}
    {% endfor %}
{% endblock %}

{% block title %}Ma liste d'amis{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            {% for ami in amis %}
                <div class="col-12 col-md-6 col-xl-4 mb-4 position-relative" style="z-index: {{ loop.length - loop.index0 }}">
                    <div class="card rounded-pill-left" data-pseudo="{{ ami.pseudo|e('html_attr') }}">
                        <div class="row no-gutters flex-nowrap">
                            <div class="col-auto card-img profile-picture rounded-circle overflow-hidden" role="button" data-toggle="modal-photo">
                                <a  href="{{ url('profile', {pseudo : ami.pseudo|e('url')}) }}">
                                <img src="{{ asset('content/img/pp/' ~ (ami.photo??'nopp.png')|e('url') ) }}" alt="Photo de profile"
                                     class="img-fit-cover">
                                </a>
                            </div>
                            <div class="col overflow-hidden">
                                <div class="card-body d-flex flex-column py-2 h-100">
                                    <div class="d-flex flex-nowrap align-items-center h-100">
                                        <a class="d-flex flex-column justify-content-center flex-grow-1 overflow-hidden text-reset"
                                           href="{{ url('profile', {pseudo : ami.pseudo|e('url')}) }}">
                                            <h5 class="card-title mb-0 text-truncate">
                                                <span>@{{ ami.pseudo|e }}</span>
                                            </h5>
                                            {% if ami.prenom or ami.nom %}
                                                <small class="card-subtitle mt-1 mb-0">{{ ami.prenom|e }} {{ ami.nom|e }}</small>
                                            {% endif %}
                                        </a>
                                        <div>
                                            {% if(ami.isAmi(app.user, true)) %}
                                                <button class="btn btn-outline-success rounded-circle btn-icon left-1 btn-remove-ami"
                                                        data-toggle="tooltip" data-placement="right" title="Retirer de mes amis">
                                                    <i class="fas fa-user-check"></i>
                                                </button>
                                            {% else %}
                                                <button class="btn btn-outline-primary rounded-circle btn-icon left-1 btn-cancel-ami"
                                                        data-toggle="tooltip" data-placement="right" title="Annuler la demande">
                                                    <i class="fas fa-user-clock"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}