<div class="list-group overflow-auto" style="max-height: 257px;">
    {% for user in users %}
        <a href="{{ url('profile', {pseudo: user.pseudo|e('url') }) }}" class="list-group-item list-group-item-action px-3 py-2 ">
            <div class="media align-items-center">
                <img src="{{ asset('content/img/pp/' ~ (user.photo??'nopp.png')|e('url')) }}" alt="Photo de profil"
                     class="mr-2 rounded-circle img-search" style="">
{#                    <div class="media-body" style="font-size: 0.8rem; line-height: 1.25">#}
{#                        <span class="font-weight-bold">@{{ user.pseudo|e }}</span><br>#}
{#                        {{ user.prenom|   e }} {{ user.nom|e }}#}
{#                    </div>#}
                <div class="media-body d-flex flex-column justify-content-center overflow-hidden" style="line-height: 1.25">
                    <span class="font-weight-bold d-inline-block text-truncate" style="font-size: 0.9rem; ">@{{ user.pseudo|e }}</span><br>
                    <span class="d-inline-block text-truncate" style="font-size: 0.7rem;">{{ user.prenom|e }} {{ user.nom|e }}</span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

