{% extends 'includes/photo-view.html.twig' %}

{% block threePointsMenuContent %}
    {% if photo.user == app.user %}
        <button id="editPhoto" class="dropdown-item" data-toggle="modal" data-target="#show_tile_modal">
            Modifier
        </button>
        <button id="editAlbumPhoto" class="dropdown-item" data-toggle="modal" data-target="#modalEditAlbumPhoto">
            {% if photo.album is empty %}
                Ajouter dans un album
            {% else %}
                Changer d'album
            {% endif %}
        </button>
        <button id="deletePhoto" class="dropdown-item" data-toggle="modal" data-target="#modalDeletePhotoConfirmation">
            Mettre dans la corbeille
        </button>
    {% endif %}
    <button id="sharePhoto" class="dropdown-item">
        Partager
    </button>
    {% if photo.user != app.user and app.user != null %}
        <button id="reportPhoto" type="button" class="dropdown-item">
            Signaler
        </button>
    {% endif %}
{% endblock %}