<div class="border border-darktheme">
    <div id="parameter-menu-container" class="row mx-0 pt-2 mb-5">
        <div class="col-6">
            <a id="exit" class="py-2 pr-0 text-primary" href="{{ path('album.grid.get', {pseudo: album.user.pseudo, page:1}) }}">
                {# exit #}
                <i class="fas fa-arrow-left" title="fermer l'album"></i>
            </a>
        </div>
        {% if album.getPhotos is not empty %}
        <div class="col-6 d-flex justify-content-end">
            <a id="album-modifier-photos" class="text-center" type="button" href="#">
                <div class="d-inline-flex align-items-center">
                    {# trier #}
                    <i class="fas fa-sort-amount-down"></i>
                </div>
            </a>
        </div>
        {% endif %}
    </div>

    <div id="titre-album-row" class="row justify-content-center align-items-center mx-0 my-auto">

        <div class="col-auto">
            <h2>{{ album.titre }}</h2>
        </div>

        {% if app.user and album.user.pseudo == app.user.pseudo %}
            <div class="col-auto">
                <div class="dropdown">
                    <a class="text-primary align-center dropdown-toggle" href="#" id="dropdownMenuAlbum" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h5><i class="fas fa-ellipsis-h"></i></h5>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuAlbum">
                        <a class="dropdown-item edit-album-btn" href="#" data-url="{{ path('album.edit', {album_id: album.id}) }}" data-toggle="modal" data-target="#modalEditAlbumForm" >Modifier le titre</a>
                        <a class="dropdown-item delete-album-btn" href="#" data-url="{{ path('album.delete', {album_id: album.id}) }}" data-toggle="modal" data-target="#modalDeleteAlbumForm">Supprimer l'album</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div id="album-photo-row" class="row justify-content-center pb-5 h-100 my-5 mx-0">
        {% for photo in photo_list %}
            <div class="col-sm-4 col-album mb-2">
                <a class="thumbnail" data-toggle="modal" data-target="#modalShowAlbumPhoto">
                    <div class="album-photo-container position-relative overflow-hidden" data-url="{{ path('photo.get', {photo_id: photo.id}) }}">
                        <div class="img-cover w-100 h-100 position-absolute"
                             style="background-image: url('{{ asset('content/img/photo/'~photo.fichier) }}');">
                        </div>
                        {% if app.user and photo.user.pseudo == app.user.pseudo %}
                            <div class="action-album-photo-cover d-flex flex-column h-100 w-100 position-absolute p-3 text-white justify-content-between">
                                <h5 class="action-album-photo">{{ photo.titre|e }}</h5>
                                <span class="action-album-photo">{{ photo.datePublication|date('d/m/Y H\\hi') }}</span>
                            </div>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% else %}
            <div class="col-12 d-flex flex-column justify-content-center align-self-center text-center mx-auto my-auto">
                <h3 class=display-3">Cet album est vide</h3>
                <p>
                    Ne serait-il point temps de le remplir ?
                </p>
            </div>
        {% endfor %}


        <nav id="album-photo-pagination" class="pagination-nav d-flex w-100 justify-content-center" aria-label="pagination-nav">
            {{ knp_pagination_render(photo_list) }}
        </nav>
    </div>
</div>