<div id="parameter-menu-container" class="row mb-3">
    {% if app.user and profileUser == app.user %}
        <div class="col-6 mr-auto">
            <a id="add-album-btn" class="text-center btn btn-outline-primary" type="button" data-toggle="modal" data-target="#modalAddAlbumForm" data-url="{{ path('album.add') }}">
                <div class="d-inline-flex align-items-center">
                    {# add #}
                    <i class="fas fa-plus mr-1"></i> Ajouter un album
                </div>
            </a>
        </div>
    {% endif %}
    {% if albums is not empty %}
        <div class="col-6 ml-auto d-flex justify-content-end">
            {% if order == 'ASC' %}
                <a id="sort-albums-btn" class="text-center" type="button" href="{{ path('album.grid.get', {pseudo: profileUser.pseudo, page:page, order: 'DESC'}) }}" data-order="{{ order }}">
                    <div class="d-inline-flex align-items-center">
                        {# trier #}
                        <i class="fas fa-sort-alpha-down"></i>
                    </div>
                </a>
            {% else %}
                <a id="sort-albums-btn" class="text-center" type="button" href="{{ path('album.grid.get', {pseudo: profileUser.pseudo, page:page, order: 'ASC'}) }}">
                    <div class="d-inline-flex align-items-center">
                        {# trier #}
                        <i class="fas fa-sort-alpha-up"></i>
                    </div>
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>

<div id="album-list-container" class="position-relative">
    <div id="album-row" class="row justify-content-center pb-3">
        {% for album in albums %}
            <div class="col-sm-4 mb-2 col-album">
                <a class="thumbnail" href="{{ path('album.get', {pseudo: album.user.pseudo, album_id: album.id}) }}">
                    <div class="album-container position-relative overflow-hidden">
                        <div class="d-flex flex-column w-100 h-100 album position-absolute justify-content-center">
                            <div class="row album-cover-container w-100 h-75 mx-0 flex-nowrap">
                                <div id="album-cover-1" class="album-cover col-8 h-75 position-absolute p-0 rounded border-darktheme bg-light bg-darkmode-dark"
                                        {% if album.getP1Photo %}
                                            style="background-image: url('{{ asset('content/img/photo/'~album.getP1Photo.fichier) }}');"
                                        {% endif %}
                                ></div>
                                <div id="album-cover-2" class="album-cover col-6 h-75 offset-4 position-absolute p-0 rounded border-darktheme bg-light bg-darkmode-dark"
                                        {% if album.getP2Photo %}
                                            style="background-image: url('{{ asset('content/img/photo/'~album.getP2Photo.fichier) }}');"
                                        {% endif %}
                                ></div>
                                <div id="album-cover-3" class="album-cover col-6 h-75 offset-6 position-absolute p-0 rounded border-darktheme bg-light bg-darkmode-dark"
                                        {% if album.getP3Photo %}
                                            style="background-image: url('{{ asset('content/img/photo/'~album.getP3Photo.fichier) }}');"
                                        {% endif %}
                                ></div>
                            </div>
                            <div class="row w-100 h-25 mx-0 justify-content-between">
                                <h5 class="col-12 mb-0">{{ album.titre }}</h5>
                                <p class="col-auto"><small class="text-muted">{{ album.dateCreation|date('d/m/Y') }}</small></p>
                                <p class="col-auto text-end"><small class="text-muted">{{ album.photos.count }} photos</small></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="col-sm-4 mb-2 col-album">
                Pas de page à cet index :/
            </div>
        {% endfor %}

        {% if albums is not empty %}
            <nav id="album-pagination" class="pagination-nav d-flex w-100 justify-content-center" aria-label="pagination-nav">
                {{ knp_pagination_render(albums) }}
            </nav>
        {% endif %}
    </div>
</div>

