{% for photo in photos %}
    <div class="col-4 img-col">
        <div class="img-container rounded border border-darktheme position-relative overflow-hidden">
            <a class="stretched-link" href="#">
                <div class="img"
                     style="background-image: url('{{ asset('content/img/photo/'~photo.fichier|e('url')) }}');"
                     data-photo-id="{{ photo.id|e('html_attr') }}">
                </div>
            </a>
            <div class="position-absolute w-100 h-100 img-overlay p-3 text-light d-flex flex-column justify-content-between">
                <h5>{{ photo.titre|e }}</h5>
                <span class="small">{{ photo.datePublication|date('d/m/Y H\\hi') }}</span>
            </div>
        </div>
    </div>

{% endfor %}

<nav class="pagination-nav d-flex w-100 justify-content-center" aria-label="pagination-nav">
    {{ knp_pagination_render(photos) }}
</nav>