<div class="modal fade" id="{% block modal_id %}base_modal_form{% endblock %}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% block action_path %}{% endblock %}">
                <div class="modal-header">
                    <h5 class="modal-title" id="base_modal_form_label">{% block modal_title%}{% endblock %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% block modal_body %}
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    {% block modal_footer %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    {% endblock %}
                </div>
            </form>
        </div>
    </div>
</div>