<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Ouais!-b{% endblock %}</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-darkmode@0.7.0/dist/darktheme.css"/>

        {% for css in ['common', 'kc', 'global-spinner'] %}
            {% include 'includes/stylesheet.html.twig' with {'file': css} only %}
        {% endfor %}

        {% block stylesheets %}{% endblock %}
    </head>
    {%- set theme = app.request.cookies.get('theme') -%}
    {%- set isDark = theme == 'dark' %}
    <body data-theme="{{ theme ?? 'light' }}" class="position-relative">
        <div id="body">
            {% block header %}
                <header class="w-100 border-bottom border-darktheme sticky-top mb-5 bg-white bg-darkmode-black" style="/*background-color: inherit*//*height: 50px;*/">
                    <div class="container h-100">
                        <nav class="navbar navbar-expand-md navbar-{{ theme }} justify-content-between">
                            <a class="navbar-brand" href="{{ url('home') }}">
                                <em>Ouais!-b</em>
                            </a>

                            <div id="search-navbar-container" class="h-100 d-flex justify-content-center">
                                <div id="search-input-container" class="position-relative w-100">
                                    <div class="input-group">
                                        <input id="search-user" type="text" class="form-control" placeholder="" aria-label="username" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="search-icon">
                                                 <i class="fas fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div id="search-results-container" class="position-absolute d-none" style="width: 300px; top:100%; left: -50%">
                                        <div id="search-loading" class="border border-darktheme rounded text-center px-3 py-2 bg-darkmode-dark" style="background-color: #e7e7e7;">
                                            <div class="spinner-border" role="status">
                                                <span class="sr-only">Recherche en cours...</span>
                                            </div>
                                        </div>
                                        <div id="search-results">

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse flex-grow-0 mt-2 mt-md-0" id="navbarTogglerDemo02">
                                <div class="d-flex flex-row justify-content-end">
                                    <button type="button" id="btn-theme" class="btn btn-outline-primary btn-icon header-btn rounded-circle mr-2">
                                        <i class="far fa-lightbulb"></i>
                                    </button>
                                    {% if app.user %}
                                        {% set relations_en_attente = app.user.relationsEntrantesEnAttente %}
                                        <div id="btn-notif-amis-container">
                                            <button id="btn-amis" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-offset="0,2"
                                                    class="btn btn-outline-primary btn-icon left-1 header-btn rounded-circle mr-2 position-relative">
                                                <i class="fas fa-user-friends"></i>
                                                {% if relations_en_attente|length > 0 %}
                                                    <div id="badge-notifs" class="position-absolute bg-danger rounded-circle" style="height: 0.625rem; width: 0.625rem; top:0.025rem; right: 0.025rem;"></div>
                                                {% endif %}
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right overflow-hidden position-absolute py-0">
                                                <div id="list-notif" class="overflow-auto" style="max-height: 257px">
                                                    {% for relation in relations_en_attente %}
                                                        <a href="{{ url('profile', {pseudo: relation.user1.pseudo|e('url') }) }}"
                                                           class="dropdown-item d-flex justify-content-between py-2 px-3 border-bottom border-darktheme"
                                                           data-pseudo="{{ relation.user1.pseudo|e('html_attr') }}">
                                                            <div class="media-body d-flex flex-column justify-content-center overflow-hidden" style="line-height: 1.125">
                                                                <span class="font-weight-bold d-inline-block text-truncate" style="font-size: 0.9rem; ">@{{ relation.user1.pseudo|e }}</span><br>
                                                                <span class="d-inline-block text-truncate" style="font-size: 0.7rem;">{{ relation.user1.prenom|e }} {{ relation.user1.nom|e }}</span>
                                                            </div>
                                                            <div class="btn-group ml-3" role="group" aria-label="Répondre à la demande">
                                                                <button class="btn btn-outline-primary rounded-circle btn-icon btn-icon-auto"
                                                                        data-toggle="tooltip" data-placement="right" title="Accepter" data-action="accept">
                                                                    <i class="fas fa-user-check" style="font-size: 0.75rem"></i>
                                                                </button>
                                                                <button class="btn btn-outline-primary rounded-circle btn-icon btn-icon-auto"
                                                                        data-toggle="tooltip" data-placement="right" title="Refuser" data-action="deny">
                                                                    <i class="fas fa-user-times" style="font-size: 0.75rem"></i>
                                                                </button>
                                                            </div>
                                                        </a>
                                                    {% endfor %}
                                                    <div id="no-notif-text" class="{% if relations_en_attente|length > 0 %}d-none{% endif%} dropdown-item py-2 px-3 m-0 text-center">Aucune demande</div>
                                                </div>
                                                <a href="{{ url('liste-amis') }}" class="dropdown-item bg-primary text-white cursor-pointer text-center">Liste d'amis</a>
                                            </div>
                                        </div>
                                        <div id="profil-param-container" class="position-relative">
                                            <button id="btn-profil-param" class="btn btn-outline-primary header-btn rounded-circle p-0 overflow-hidden"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-offset="0,2" type="button">
                                                <img class="img-fit-cover" src="{{ asset('content/img/pp/' ~ (app.user.photo??'nopp.png')|e('url') ) }}" alt="Profil">
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right position-absolute">
                                                <a class="dropdown-item" href="{{ url('profile', {pseudo: app.user.pseudo|e('url') }) }}">
                                                    Mon profil
                                                </a>
                                                <a class="dropdown-item" href="{{ url('corbeille') }}">
                                                    Ma corbeille
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item d-flex justify-content-between align-items-baseline" href="{{ url('app_users') }}">
                                                    <span>Mes paramètres</span>
                                                    <i class="fas fa-cog ml-2"></i>
                                                </a>
                                                <a class="text-danger dropdown-item d-flex justify-content-between align-items-baseline" href="{{ url('app_logout') }}">
                                                    <span>Me déconnecter</span>
                                                    <i class="fas fa-sign-out-alt ml-2"></i>
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <a id="btn-connexion" href="{{ url('app_login') }}" class="btn btn-outline-primary mr-2">
                                            Connexion
                                        </a>
                                        <a id="btn-incription" href="{{ url('inscription') }}" class="btn btn-outline-primary ">
                                            Inscription
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </nav>

                        <div class="row h-100">
                            <div class="h-100 col-4 d-flex justify-content-start"></div>

                            <div class="h-100 col-4 d-flex justify-content-end">

                            </div>
                        </div>
                    </div>
                </header>
            {% endblock %}

            {% block body %}{% endblock %}

            {% block footer %}{% endblock %}

            <div id="globalSpinner">
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>


            <!-- Modal Alert -->
            <div class="modal fade" id="GenericAlertModal" tabindex="-1" aria-labelledby="GenericAlertModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="GenericAlertModalLabel"></h5>
                        </div>
                        <div class="modal-body">
                            <div class="content mb-3"></div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-primary minw-50" data-dismiss="modal">
                                <span>OK</span>
                                <i class="fas fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Confirm -->
            <div class="modal fade" id="GenericConfirmModal" tabindex="-1" aria-labelledby="GenericConfirmModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="GenericConfirmModalLabel"></h5>
                        </div>
                        <div class="modal-body">
                            <div class="content mb-3"></div>
                        </div>
                        <div class="modal-footer flex-nowrap align-items-stretch">
                            <button type="button" class="btn btn-danger w-50" data-dismiss="modal">
                                <span>Annuler</span>
                                <i class="fas fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-primary w-50" data-confirm>
                                <span>Confirmer</span>
                                <i class="fas fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
                integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
                crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

        <script src="https://kit.fontawesome.com/7ad19653b0.js"
                crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>


        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <script>
            const BASEURL = "{{ absolute_url('/')|e('js') }}";
        </script>
        {% for js in ['common', 'darktheme', 'global-spinner', 'genericModals', 'kc'] %}
            {% include 'includes/script.html.twig' with {'file': js} only %}
        {% endfor %}

        {% block javascripts %}
            <script>
                const USER_PSEUDO = {{ app.user ? (app.user.pseudo|json_encode|raw) : 'null' }};
            </script>

{#                <script src="{{ asset('content/js/common.js') }}"></script>#}
{#                {% include 'includes/script.html.twig' with {'file': 'kc'} only %}#}
            {% for js in ['searchbar', 'amis'] %}
                {% include 'includes/script.html.twig' with {'file': js} only %}
            {% endfor %}
        {% endblock %}
    </body>
</html>
