@media only screen and (min-width: 992px) {
    main.container{
        max-width: 800px;
    }
}


#photo-row .img-col {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#photo-row .img {
    padding-bottom: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: filter 100ms;
}
#photo-row .img-container:hover .img{
    -webkit-filter: blur(0.125rem);
    filter: blur(0.125rem);
}

#photo-row .img-overlay{
    top: 0;
    left: 0;
    background-color: #00000060 !important;

    transition: opacity 100ms;
    opacity: 0;
}

#photo-row .img-container:hover .img-overlay{
    opacity: 1;
}


.add-tile {
    height: 8rem;
    width: 8rem;
    border: 0.5rem solid;

    border-radius: 1.5rem;
}

.add-tile > span:first-child{
    font-size: 5rem;
}
.add-tile:hover > span:first-child{
    display: none;
}

.add-tile > span:last-child{
    display: none;
    font-size: 1.375rem;
    line-height: 1.25;
    font-family: 'Comfortaa', cursive;
}
.add-tile:hover > span:last-child{
    display: initial;
}

#add-tile-button:hover {
    cursor: pointer;
}

.modal-backdrop {
    opacity: 0.9 !important;
}

#photoDetailTagContainer {
    margin: 0 -0.25rem;
}
#photoDetailTagContainer a.tag{
    margin: 0 0.0625rem;
}
#photoDetailTagContainer a.tag i{
    margin-right: 0.0625rem;
}