{% extends 'base.html.twig' %}

{% block title %}Modification de votre profil{% endblock %}

{% block body %}
	<div class="container">
		<div>
			<h1>Modification de votre profil</h1><br>
            {{ form(form) }}
		</div>       
	</div>
{% endblock %}