{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de votre mot de passe{% endblock %}

{% block body %}
	<div class="container">
	    {% for message in app.flashes('error') %}
             <div class="alert alert-danger">
                {{ message }}
             </div>
		{% endfor %}

		<div>
			<h1>Modification de votre mot de passe</h1> <br>
            <form method="post">
                <div class="form-field">
                    <label for="pass">Mot de passe</label>
                    <input type="password" id="pass" name="pass" class="form-control">
                </div> <br>
                <div class="form-field">
                    <label for="pass2">Confirmer le mot de passe</label>
                    <input type="password" id="pass2" name="pass2" class="form-control">
                </div>
                <br>
                <button class="btn btn-primary">Valider</button>          
            </form>
		</div>
	</div>
{% endblock %}