{% extends 'base.html.twig' %}

{% block title %}Votre profil {% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
         <div class="alert alert-success">
                {{ message }}
         </div>
		{% endfor %}
		<div>
			<h1>Votre profil </h1>
		</div><br>
        <span class="font-weight-bold">  Pseudo:</span> @{{ app.user.pseudo }}  <br><br>
        <span class="font-weight-bold">  Nom: </span> {{ app.user.nom }} <br><br>
        <span class="font-weight-bold">  Prénom: </span> {{ app.user.prenom }} <br><br>
        <span class="font-weight-bold">  Email: </span> {{ app.user.email }} <br><br><br>
        
        <a href="{{ path('app_editprofile') }}" class="btn btn-secondary">Modifier votre profil</a> &nbsp;&nbsp;&nbsp;
        <a href="{{ path('app_editmdp')}}" class="btn btn-secondary">Modifier votre mot de passe</a>    
	</div>
{% endblock %}