.profile-picture{
	height: 128px;
	width:  128px;

	background-color: #bbb;
}



#btn-profil-container {
	/*position: absolute;*/
	/*left: 0;*/
	/*bottom: -40px;*/
}

.btn-group #btn-ami-accept{
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	padding-right: 0.33rem;
}
.btn-group #btn-ami-deny{
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	padding-left: 0.33rem;
}




.switch .switch-container{
	height: 1rem;
	width: 1.75rem;
	border: 1px solid #adb5bd;
	border-radius: 50rem;
	padding: 1px;
	transition: all 0.15s;
}

.switch .switch-btn{
	height: 100%;
	width: calc(1rem - 4px);
	border-radius: 50%;
	background-color: #adb5bd;
	transition: all 0.15s;
}

.switch input[type="checkbox"]:checked ~ label .switch-container{
	background-color: var(--primary);
	border-color: var(--primary) ;
}

.switch input[type="checkbox"]:checked ~ label .switch-container .switch-btn{
	transform: translateX(calc(0.75rem));
	background-color: white;
}

#switch-theme:active{
	color: #16181b;
	background-color: #f8f9fa;
}