{% extends "base.html.twig" %}

{% block title %}Profile not found{% endblock %}

{% block body %}
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-3">
                <img class="img-fluid" src="{{ asset("content/img/common/404.png") }}" alt="404.png">
            </div>
        </div>
        <div class="row justify-content-center text-center mt-2">
            <div class="col-6">
                <h1 class="display-4">Oh oh ... </h1>
                <p class="lead">
                    This is kind of embarrassing ... :(<br>
                </p>
                <p class="lead">
                    <a class="btn btn-outline-primary" href="{{ path("home") }}" role="button">Please, guide me to the light !</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}