{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% for css in ['corbeille/index'] %}
        {% include 'includes/stylesheet.html.twig' with {'file': css} only %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% for js in ['remove-animator','corbeille/index'] %}
        {% include 'includes/script.html.twig' with {'file': js} only %}
    {% endfor %}
{% endblock %}

{% block title %}Ma corbeille{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            {% for photo in photos %}
                <div class="col-6 col-sm-12 col-lg-6 mb-4  position-relative" style="z-index: {{ loop.length - loop.index0 }}">
                    <div class="card" data-id-photo="{{ photo.id }}">
                        <div class="row no-gutters">
                            <div class="card-img col-12 col-sm-3 col-md-2 col-lg-3 photo-thumbnail" role="button" data-toggle="modal-photo"
                                 style="background-image: url('{{ asset('content/img/photo/'~photo.fichier|e('url')) }}')"></div>
                            <div class=" col-12 col-sm-9 col-md-10 col-lg-9">
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex flex-nowrap ">
                                        <h5 class="card-title flex-grow-1 text-truncate">
                                            {{ photo.titre|e }}
                                        </h5>
                                        <div class="dropdown thumbnail-dropdown">
                                            <button class="btn btn-secondary dropdown-toggle px-2 py-1 small ml-2" type="button" id="dropdownPhotoOptions{{ photo.id }}"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-cog"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownPhotoOptions{{ photo.id }}">
                                                <button type="button" class="dropdown-item d-flex justify-content-between align-items-baseline restore-photo">
                                                    Restaurer <i class="fas fa-undo-alt ml-2"></i>
                                                </button>
                                                <button type="button" class="dropdown-item text-danger d-flex justify-content-between align-items-baseline delete-photo">
                                                    Supprimer définitivement <i class="fas fa-trash-alt ml-2"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        <small>
                                            <span class="text-muted">Publiée le {{ photo.datePublication|date('d/m/Y à H\\hi') }}</span><br>
                                            <span class="text-danger">
                                                Sera supprimée le {{ photo.corbeille.dateSuppression|date('d/m/Y') }}
                                                (dans {{ photo.corbeille.tempsAvantSuppression }} jour{{ photo.corbeille.tempsAvantSuppression > 1 ? 's' :'' }})
                                            </span>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

    <!-- Modal affichage photo -->
    <div class="modal fade" id="modalPhoto" tabindex="-1" aria-labelledby="modalPhoto" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body p-0">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
